<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/page_header}">
<head>
<meta charset="ISO-8859-1">
<title>Exam</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Exam Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">New-Exams</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card mb-3" id="form-body">
          <div class="card-header">
            Add Exams
          </div>
          <div class="card-body">
              <form th:action="@{/saveExam}" th:object="${exam}" method="POST">
                  <div class="form-group">
                    <label>Class Name</label>
                    <select th:field="*{cname}" class="form-select">
                      <option value="">-- Select Class --</option>
                      <option th:each="class1 : ${listClasses}"
                              th:value="${class1.cname}"
                              th:text="${class1.cname}"></option>
                    </select>
                  </div>
                  <div class="form-group mt-2">
                    <label>Subject Name</label>
                    <select th:field="*{sname}" class="form-select">
                      <option value="">-- Select Subject --</option>
                      <option th:each="subject : ${listSubject}"
                              th:value="${subject.sname}"
                              th:text="${subject.sname}"></option>
                    </select>
					        </div>      
                  <div class="form-group mt-2">
                      <label>Exam Name </label>
                      <input type="text" class="form-control" th:field="*{ename}" placeholder="Exam Name" required>
                  </div>
                  <div class="form-group mt-2">
                      <label>Exam Date </label>
                      <input type="date" class="form-control" th:field="*{edate}" placeholder="Date" required>
                  </div>
                  <button type="submit" class="btn btn-primary mt-2" id="submit">Submit</button>
              </form>
          </div>               
        </div>
      </div>
   </section>

</body>
</html>