<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/page_header}">
<head>
<meta charset="ISO-8859-1">
<title>Class</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Class Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Class</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <!-- <div class="row justify-content-center"> -->
            <!-- <div class="col-md-6"> -->
                <!-- <div class="card shadow"> -->
                    <div class="card-header">
                      <div class="row mb-2">
                          <div class="col-md-9">
                              <!-- <h1>Class Management</h1> -->
                          </div>
                          <div class="col-md-3">
                            <a th:href="@{/showClassForm}" class="btn btn-primary mb-3" style="float: right;"> Add Class</a>
                          </div>
                      </div> 
                    </div>

                    <div class="card-body">
                        <!-- <div class="table-striped"> -->
                        <table id="example" class="table table-striped" style="width:100%">
                        <!-- <table id="myTable2" class="display" style="width:100%"> -->
                        <!-- <table id="tblUser" class="display"> -->
                            <thead>
                                <tr>
                                    <th>C. Name</th>
                                    <!-- <th>class_teacher</th>  -->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="class1 : ${listClasses}">
                                  <td th:text="${class1.cname}"></td>
                                    <!-- <td><?= $row['class_teacher'] ?></td>  -->
                                  <td>
                                    <a th:href="@{/classUpdate/{id}(id=${class1.id})}" class="btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i></a>
                                    <a th:href="@{/classDelete/{id}(id=${class1.id})}" class="delete btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- </div> -->

                    </div>
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <!-- <script src="alert.js"></script> -->
    <!-- <script th:src="@{/js/swal/classdelete.js}"></script> -->
    <script>
    jQuery(document).ready(function($) {
        $('#example').DataTable();
       
     } );
    </script>
      </div>
    </section>

</body>
</html>