<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/page_header}">
<head>
<meta charset="ISO-8859-1">
<title>Student</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Student Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Student</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <!-- <div class="row justify-content-center"> -->
            <!-- <div class="col-md-6"> -->
                <!-- <div class="card shadow"> -->
                    <div class="card-header">
                    <div class="row mb-2">
                        <div class="col-md-9">
                            <h1></h1>
                        </div>
                        <div class="col-md-3">
                           <a th:href="@{/showStudentForm}" class="btn btn-primary mb-3" style="float: right;"> Add Student</a>
                        </div>
                    </div>
                   
                       
                    </div>


                    <div class="card-body">
                        <!-- <div class="table-striped"> -->
                        <table id="example" class="table table-striped" style="width:100%">
                        <!-- <table id="myTable2" class="display" style="width:100%"> -->
                        <!-- <table id="tblUser" class="display"> -->
                            <thead>
                                <tr>
                                    <th>Adm. No</th>
                                    <th>F. Name</th>
                                    <th>L. Name</th>
                                    <th>Grade</th>
                                    <th>Gender</th>
                                    <th>D.O.B</th>
                                    <th>P. Contact</th>
                                    <th>P. Of Residence</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="student : ${listStudents}">
                                  <td th:text="${student.admno}"></td>
                                  <td th:text="${student.fname}"></td>
                                  <td th:text="${student.lname}"></td>
                                  <td th:text="${student.cname}"></td>
                                  <td th:text="${student.gender}"></td>
                                  <td th:text="${student.dob}"></td>
                                  <td th:text="${student.telno}"></td>
                                  <td th:text="${student.addr}"></td>
                                  <td>
						            <a th:href="@{/studentUpdate/{id}(id=${student.id})}" class="btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i></a>
						            <a th:href="@{/studentDelete/{id}(id=${student.id})}" class="delete btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
						          </td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        <!-- </div> -->

                    </div>
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <!-- <script src="alert.js"></script> -->
    <script th:src="@{/js/swal/studentdelete.js}"></script>
    <script>
    jQuery(document).ready(function($) {
        // $('#tblUser').DataTable();

        $('#example').DataTable();

    } );
    </script>
      
      <div>
     </section>
</body>
</html>