<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/page_header}">
<head>
<meta charset="ISO-8859-1">
<title>Subject</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Subject Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Subject</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <!-- <div class="row justify-content-center"> -->
            <!-- <div class="col-md-6"> -->
                <!-- <div class="card shadow"> -->
                    <div class="card-header">
                   <div class="row mb-2">
                        <div class="col-md-9">
                            <!-- <h1>Class Management</h1> -->
                        </div>
                        <div class="col-md-3">
                           <a th:href="@{/showSubjectForm}" class="btn btn-primary mb-3" style="float: right;"> Add Subject</a>
                        </div>
                    </div>
                   
                        
                       
                    </div>


                    <div class="card-body">
                        <!-- <div class="table-striped"> -->
                        <table id="tblUser" class="table table-striped" style="width:100%">
                        <!-- <table id="myTable2" class="display" style="width:100%"> -->
                        <!-- <table id="tblUser" class="display"> -->
                            <thead>
                                <tr>
                                    <th>C. Name</th>
                                    <th>S. Name</th>
                                    <th>S. Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="subject : ${listSubject}">
                                  <td th:text="${subject.cname}"></td>
                                  <td th:text="${subject.sname}"></td>
                                  <td th:text="${subject.scode}"></td>
                                  <td>
						            <a th:href="@{/subjectUpdate/{id}(id=${subject.id})}" class="btn-primary btn-sm"><i class="fa fa-pencil-square-o"></i></a>
						            <a th:href="@{/subjectDelete/{id}(id=${subject.id})}" class="delete btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
						          </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- </div> -->

                    </div>
                <!-- </div> -->
            <!-- </div> -->
        <!-- </div> -->
    </div>
    <!-- <script src="alert.js"></script> -->
    <script th:src="@{/js/swal/subjectdelete.js}"></script>
    <script>
    jQuery(document).ready(function($) {
        $('#tblUser').DataTable();
        $("#form-body").hide();

        $("#insert-btn").on('click',function(){
            $("#form-body").toggle(500);
        });

        $("#submit").on('click',function(e){
            e.preventDefault();

            var class_name = $('#cname').val();
            var subject_code = $('#scode').val();
            var subject_name = $('#sname').val();

            $.ajax({
                url : "insertsubject.php",
                type : "POST",
                data : {cname:cname,scode:sode,sname:sname},
                success : function(data){
                    alert("Data Inserted Successfully");
                    $("#form-body").hide();
                    location.reload(true);
                }
            });

        });

    } );
    </script>
      
      </div>
    </section>

</body>
</html>