<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
<meta charset="ISO-8859-1">
<title>Subject</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Subject</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Subject</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <div class="container-fluid" style="margin-top:30px !important;">
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-9">
                    <!-- <h1>Nicesnippets Datatable</h1> -->
                </div>
                <div class="col-md-3">
                    <button type="button" id="insert-btn" class="btn btn-primary" style="float: right;">
                        <i class="fa fa-plus" aria-hidden="true"> Add Data</i>
                    </button>
                </div>
            </div>
            <div class="card mb-3" id="form-body">
                <div class="card-header">
                    Insert Data
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label>Name </label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Name">
                        </div>
                        <div class="form-group mt-2">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Email">
                        </div>
                        <button type="submit" class="btn btn-primary mt-2" id="submit">Submit</button>
                    </form>
                </div>
            </div>

            <table id="tblUser">
                <thead>
                    <th>Id</th>
                    <th>Fullname</th>
                    <th>Email</th>
                    <th>Action</th>
                </thead>
                <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o"> Edit</i></a>
                                <a href="#" data-id="" class="delete btn btn-danger btn-sm"><i class="fa fa-trash"> Delete</i></a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
     <script src="swaldelete.js"></script>
    <script>
    jQuery(document).ready(function($) {
        $('#tblUser').DataTable();
        $("#form-body").hide();

        $("#insert-btn").on('click',function(){
            $("#form-body").toggle(500);
        });

        $("#submit").on('click',function(e){
            e.preventDefault();

            var name = $('#name').val();
            var email = $('#email').val();

            $.ajax({
                url : "insert_data.php",
                type : "POST",
                data : {name:name,email:email},
                success : function(data){
                    alert("Data Inserted Successfully");
                    $("#form-body").hide();
                    location.reload(true);
                }
            });

        });

    } );
    </script>
      
      </div>
    </section>

</body>
</html>