<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/page_header}">
<head>
<meta charset="ISO-8859-1">
<title>Setting</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Setting</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Setting</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      <div class="card mb-3">
    <div class="card-header">
        More Settings
    </div>

    <div class="card-body">
        <form action="upload.php" method="POST" enctype="multipart/form-data">
        <div class="row mb-2">
            <div class="col-md-8">
                <div class="mb-3">
                <label>Institution Name</label>
                    <input type="text" name="institute" class="form-control" placeholder="Institution Name" required>
                </div>
                <div class="mb-3">
                    <label>School Email</label>
                    <input type="email" name="email" class="form-control" placeholder="School Email" required>
                </div>
                <div class="mb-3">
                    <label>Location</label>
                    <input type="location" name="location" class="form-control" placeholder="Location" required>
                </div>
                <div class="mb-3">
                    <label>Address</label>
                    <input type="address" name="address" class="form-control" placeholder="Address" required>
                </div>
            </div>
            <div class="col-md-4">
                <img id="thumbnil" style="width: 70%; float:right; margin-top: 10px; height: 300px;" src="" alt="image" />
            </div>
        </div>
            <div class="mb-3">
                <label>Upload Image</label>
                <input type="file" accept="image/*" onchange="showMyImage(this)" name="image_profile" required class="form-control">
            </div>
            <div class="mb-3">
                <hr/>
                <button type="submit" name="upload_save_btn" class="btn btn-primary">Upload</button>
            </div>                                                                           
        </form>
    </div>
</div>
      
      </div>
    </section>
<script th:src="@{/js/upload.js}"></script>
</body>
</html>